
.calendar-wrapper >#divCal>table> img {
  max-width: 10%;
  height: auto;
  vertical-align: baseline;
}
.calendar-wrapper >#divCal>a {
  text-decoration: none;
}
.calendar-wrapper {
  width: auto;
  margin:  auto;
  padding: auto;
  border: 1px solid #dcdcff;
  border-radius: 5px;
  background: #fff;
}
.calendar-wrapper>#divCal >table {
  clear: both;
  width: auto;
  border: 1px solid #dcdcff;
  border-radius: 3px;
  border-collapse: collapse;
  color: #444;
}
.calendar-wrapper> #divCal>table> td {
  height: auto;
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #dcdcff;
  border-top: 1px solid #dcdcff;
  width: auto;
}
.calendar-wrapper>#divCal > table > tbody>tr> td.not-current {
    color: gray;
}
#head{
    text-align: center;
}

.calendar-wrapper>#divCal > table > tbody>tr>td.today {
  font-weight: auto;
color:black;
border-radius: 50%;
background-color: rgb(0, 188, 212);
  text-align: center;
}
.calendar-wrapper>#divCal >table> thead td {
  border: none;
  color: #28283b;
    background-color: rgb(0, 188, 212);
      text-transform: uppercase;
  font-size: auto ;
  text-align: center;
}
.calendar-wrapper >#btnPrev {
  float: left;
  margin-bottom: 20px;
}
/* .calendar-wrapper>#btnPrev:before {
  content: "\f104";
  font-family: FontAwesome;
  padding-right: 4px;
} */
.calendar-wrapper>#btnNext {
  float: right;
  margin-bottom: 20px;
}
/* .calendar-wrapper >#btnNext:after {
  content: "\f105";
  font-family: FontAwesome;
  padding-left: 4px;
} */
.calendar-wrapper >#btnPrev,
#btnNext {
  background: transparent;
  border: none;
  outline: none;
  font-size: auto;
  color: #c0c0c0;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.calendar-wrapper>#btnPrev:hover,
#btnNext:hover {
  color: lightseagreen;
  font-weight: bold;
}
.group:after {
    content: "";
    display: table;
    clear: both;
  }