

  .TimeSlotestg  {border-collapse:collapse;
    border-spacing:0;
    border-color:#999;
  width: auto;
  height: auto ;
  table-layout: fixed;

  
  }
  .clear{
    background-color: red;
  }
  .Daysitem>table>tr >td{
  
    border: solid;
    text-align: center;
  }
  .Daysitem{
    grid-column: 2/ span 6 ;
    margin-left: 300px;
  }
  .Daysprevious {
    background-color: #f1f1f183;
    color: black;
    border-radius: 50%;

}
.DaysnestedGrid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.1fr 0.3fr 0.1fr;
    grid-template-rows:auto;
    grid-column: 3 / span 4;
}
.DaysCalender{
    grid-row: 1/span 3;
}
.Daysbtns{
 display: inline;


}
.Daysbtns > button{
    background-color: Transparent;
    width: auto;
    font-size: bold;
    cursor:pointer;
    color: #999;
    border:none
}
.Daysbtns > button:hover {
    color: lightseagreen;
    font-weight: bold;
    border:solid;
    border-width: 1px;
    border-color: black;
    border-radius: 40%;

  }
  .Daysitem > button{
    color:white; 
    background-color: rgb(0, 188, 212);
    border-radius: 10px;
  }
.AppAppWrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto ;
    justify-items: center;
}
.Appitem1 {
    grid-column: 1 / span 4;
  }
  .Appitem2{
     grid-gap: 10px;
    grid-column: 1 / span 2;

}
.Appnotification{
  color: red;
}
.Appitem2 >button {
    width: 50%;
    height:2%;
    border-radius: 15%
}



  .Appitem3 {
    grid-column: 3/ span 5;
  }
  .green{
      background-color: green;
  }
.Daysnext {
    background-color: #f1f1f183;
    color: black;
    border-radius: 50%;

}
  .Dayswrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 4fr 3fr  200px 100px ;
    grid-template-rows: auto;
    justify-items: center;
  }
  .TimeSlotesfirst{
    border-color:inherit;vertical-align:top;
     width: 15%;
     font-size:15px;padding:4px 10px;
     height: 20px;


  }
  table >tr>th .TimeSlotesfirst{
    border-color:inherit;vertical-align:top;
    width: 15%;
    font-size:15px;padding:4px 10px;
    height: 10%;

  }
  .TimeSlotestg td{font-family:Arial, sans-serif;font-size:15px;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;
    /* width: 145px;*/
    height: 10%;
  }
  .TaskTask{
    background-color: blue;
    margin-top: 5px;
    margin-left: -5px;
    /* left: 5px; */
    font-size:80%;
    border: 1px solid gray;
    text-align: left;
    color: white;
  }
  
  .TimeSlotestg th{ 
    /* width: 145px; */
      height: 10%;
    font-family:Arial, sans-serif;font-size:15px;font-weight:normal;padding:4px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:white; background-color: rgb(0, 188, 212);}
  
  .TimeSlotetg .TimeSlotetg-us36{border-color:inherit;vertical-align:top;
  
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 10%;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
